/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* Nav display On Desktop */
#hamnav {
  width: 100%;
  background: #24423e;
  position: fixed;
  z-index: 150;
  font-size: 20px;
  top: 0;
  text-align: center;
  -webkit-box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
          -webkit-transition: -webkit-transform .20s ease-out;
          transition: -webkit-transform .20s ease-out;
          -o-transition: transform .20s ease-out;
          transition: transform .20s ease-out;
          transition: transform .20s ease-out, -webkit-transform .20s ease-out;        
}

/* Hide Hamburger */
#hamnav label, #hamburger { display: none; }

/* Horizontal Menu Items */
#hamitems { display: -webkit-box; display: -ms-flexbox; display: flex; }
#hamitems a {
  width: 50%;
  padding: 10px;
  color: white;
  text-decoration: none;
}

#hamitems a:hover {
  background: #4e281e98;
}

a:link {
  background-color: transparent;
  text-decoration: none;
} 

 a:hover {
  text-decoration: unset;
  text-transform: lowercase;
 }

.wrapper {
  height: 100%;
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  font-size: 15px;
}

.parent-img{
  position: fixed;
  border-style: solid rgba(29, 29, 29, 0.356);  
}

.parent-img-responsive{
    height: 108%;
    width: 101%;
}

/* Fixed photo styling  */
.fixed-bgi {
  background-attachment: initial;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  height: 100%;
}

.scroll-bgi {
  background-color: #24423e;
  position: center;
}

/* Photos used for the fixed background. */
.bgi-1 {
  background-image: url('roof.jpg');
}

.bgi-2 {
  background-image: url('jeep.jpg');
}

.bgi-3 {
  background-image: url('road.jpg');
}

.bgi-4 {
  background-image: url('hill.jpg');
}

.bgi-5 {
  background-image: url('sky.jpg');
}

.bgi-6 {
  background-image: url('frost.jpg');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

.fixed-bgi {
  color: white;
  text-shadow: rgba(48, 46, 46, 0.5);
}

/* Css for Scolling */
.scroll-bgi {
  padding: 10px 70px;
  color: #d0d3d8da;
  text-align: center;
}

.fixed-bgi {
  width: 100%;
  text-align: center;
  display: table;
}

.fixed-bgi h1 {
  display: table-cell ;
  vertical-align: middle;
}

/* Use of :nth-child() in Nav Items -requirement 2/3 */

/* First Nav Text */
a:nth-of-type(2n+1) {
  color: rgb(0, 0, 0);
}

/* Second Text */
a:nth-of-type(2n) {
  color: rgb(106, 121, 119);
}

/* Center Text*/
a:nth-of-type(2n) {
  font-weight: bold;
}

/* CSS for signUp.html */
.words {
    text-align: auto;
    text-transform: inherit;
}

.mail {
  padding-top: 31px;
  text-align: center;
  font-family:'Nunito Sans', sans-serif;
  font-size: 21px;
  letter-spacing: .06em;
  background-image: url('mount.jpg') ;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.box {
  padding-top: 0px;
  height: 100%;
  width: 100%;
  margin: 0;
}

/* CSS for Image Carousel */
.pic-ctn {
  width: 100vw;
  height: 200px;
}

/* CSS for transformation and and fade out */
@-webkit-keyframes display {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
}
@keyframes display {
  0% {
    -webkit-transform: translateX(200px);
            transform: translateX(200px);
    opacity: 0;
  }
  10% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  20% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  30% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(-200px);
            transform: translateX(-200px);
    opacity: 0;
  }
}

.pic-ctn {
  position: relative;
  width: 100vw;
  height: 300px;
  margin-top: 15vh;
}

.pic-ctn > img {
  position: absolute;
  top: 0;
  left: calc(50% - 100px);
  opacity: 0;
  -webkit-animation: display 10s infinite;
          animation: display 10s infinite;
}

/* Use of :nth child to stagger fade out of images */

img:nth-child(2) {
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
img:nth-child(3) {
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
img:nth-child(4) {
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}
img:nth-child(5) {
  -webkit-animation-delay: 8s;
          animation-delay: 8s;
}

/* Media Q's & Responsive Menu Requirement*/
@media (min-width:458px) {
  .fixed-bgi {
    background-attachment: fixed;
    background-size: cover;
  }
 
  .mail {

    background-size: 100%;
    
    background-repeat: repeat-y;
    
  }
} 
@media screen and (max-width: 768px) {
  .words {
    font-size: 12px;
  }
  .scroll-bgi {
    padding: 2.5px;
  }
  .fixed-bgi {
    background-color: rgb(114, 119, 119);
    background-size: 100%;
    background-repeat: repeat-y;
  }
  /* Mobile View */
  @media screen and (max-width: 768px){
    /* Show Hamburger Icon */
    #hamnav label { 
      display: inline-block; 
      color: white;
      background: #17566ef1;
      font-style: normal;
      font-size: 1.5em;
      padding: 10px;
      padding-top: 0mm;
      padding-bottom: 1.5mm;
    }
  
    /* Break down menu items into vertical */
    #hamitems a {
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      display: block;
      width: 100%;
      border-top: 1px solid #333;
    }
  
    /* Toggle Show/Hide Menu */
    #hamitems { display: none; }
    #hamnav input:checked ~ #hamitems { display: block; }
  }
  .mail {
    background-size: fill;
    margin: auto;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
  }
  .wrapper {
    font-size: 12px;
  }
}