html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

.header-nav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #163531;
  text-align: center;
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  word-spacing: 10px;
  text-shadow: 0 14px 28px;
  font-family:'Nunito Sans', sans-serif;
  font-size: 27px;
  
}

.slideUp {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
  transition: transform .2s ease-out;
}

.slideDown {
  -webkit-transform: translateY(0);
  transform: translateY(0);
  transition: transform .9s ease-out;
}

.wrapper {
  height: 100%;
}

.parent-img{
    position: fixed;
    border-style: solid rgba(29, 29, 29, 0.356);
    
}
.parent-img-responsive{
    height: 108%;
    width: 101%;
    
}

.fixed-bgi {
  height: 100%; 
}

.fixed-bgi {
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

.scroll-bgi {
  background-color: #163531;
  position: center;
  
}

/* Below are where the images are referenced */

.bgi-1 {
  background-image: url('roof.jpg');
}

.bgi-2 {
  background-image: url('jeep.jpg');
}

.bgi-3 {
  background-image: url('road.jpg');
}

.bgi-4 {
  background-image: url('hill.jpg');
}

.bgi-5 {
  background-image: url('sky.jpg');
}

.bgi-6 {
  background-image: url('frost.jpg');
}

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans');

.wrapper {
  font-family: 'Nunito Sans', sans-serif;
  line-height: 1.5;
  word-spacing: 4px;
  letter-spacing: 1px;
}

.fixed-bgi {
  color: white;
  text-shadow: rgba(48, 46, 46, 0.5);
}

.scroll-bgi {
  padding: 10px 70px;
  color: #838282;
  text-align: center;
}
.fixed-bgi {
  width: 100%;
  text-align: center;
  display: table;
}

.fixed-bgi h1 {
  display: table-cell ;
  vertical-align: middle;
  
}

.words {

   
    text-align: auto;
    text-transform: inherit;
    

}